# /usr/bin/python3 -m venv venv  # use system python3 not miniconda
# source venv/bin/activate
# pip-compile -v; pip install -r requirements.txt

pip-tools
poetry
maturin
cffi
kaggle
kaggle_environments  # Miniconda BUG: https://github.com/Kaggle/kaggle-environments/issues/239