# /usr/bin/python3 -m venv venv  # use system python3 not miniconda
# source venv/bin/activate
# pip-compile -v; pip install -r requirements.txt

pip-tools
poetry
maturin
cffi
kaggle
kaggle_environments==1.12.0   # Miniconda 1.13.0 BUG: https://github.com/Kaggle/kaggle-environments/issues/239
jaraco-classes==3.3.0         # required by kaggle_environments